.logo {
  width: 108px;
  height: 23px; }

.menu-width {
  width: 900px;
  height: 475px; }

.height-475 {
  height: 475px; }

.heigt-320 {
  height: 320px; }

.width-570 {
  width: 570px; }

.width-320 {
  width: 320px; }

.width-85 {
  width: 85px; }
