.hover{
    &:hover{
        text-decoration: unset;
        text-decoration: underline !important;
    
        

    }        

}

hr{
    width: 50px;
    height: 1px;
    border:1px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.hover-btn{
    &:hover{
        background-color: white;
    }
}
