@font-face {
    font-family: 'regular';
    src: url('/fonts/Blizzard-Regular.woff2');
    src: url('/fonts/Blizzard-Regular.woff');
    src: url('/fonts/Blizzard-Regular.ttf');
    src: url('/fonts/Blizzard-Regular.eot');
    
}
.font-size{
    font-size: 16px;
}
.font-12{
    font-size: 12px;
}
.font-25{
    font-size: 20px;
}
.font-14{
    font-size: 14px;
}