.p-absolute{
left: 20px;
}
.p-absolute-top-420{
    position: absolute;
    top: 420px;
}
.p-absolute-left-600{
    position: absolute;
    left: 600px;

}
.p-absolute-right-600{
    right: 600px;

}
.p-absolute-top-820{
    top: 1270px;
}
.p-absolute-top-1510{
    top: 1510px;
}
.p-absolute-top-2400{
    top: 1970px;
}
.p-absolute-left-180{
    left:180px;

}
.fixed{
    position: fixed;
    bottom: 30px;
    right:30px
}
.p-absolute-top-50{
    top: 50px;
}
.p-absolute-top-41{
    top: 41px;
}
.p-absolute-left-520{
    left: 520px;
}
.p-absolute-left-0{
    left: 0px;
}
.p-relative-top{
    top:20px;
}